name: Preprocessing Workflow (MSML - Eksperimen)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy matplotlib seaborn scikit-learn
      
      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Moch.FaisalSyahwaludin.py --input weatherHistory.csv --output preprocessing/weather_preprocessed.csv
    
      - name: Show preview
        run: |
          echo "Preview of processed file:"
          head -n 5 preprocessing/weather_preprocessed.csv || true

      - name: Upload processed dataset as artifact
        uses: actions/upload-artifact@v4
        with:
          name: weather_preprocessed
          path: preprocessing/weather_preprocessed.csv
